body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    
}

.slideshow-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
}

#slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease;
}



.header{
    font-size: 15px;
    color: #2A5649;
    margin: center;
    padding-right: 250px;
    padding-left: 100px;
    padding-top: 20px;
    position: fixed;
    
}  

.tm {
    position: absolute;
    font-size: 5px;
    top: 50px;
    
}



.header h1{
    text-align: center;
    
    
}

.header h2 {
    font-family: Arial Narrow, sans-serif;
    font-weight: 100;
    color: #2A5849;
    text-align: center;
    font-stretch: expanded;
    letter-spacing: 0.1em;
    
}

.bio h3 {
    text-align: center;
    font-weight: 600;
    font-family: Arial Narrow, sans-serif;
    font-style: italic;
    font-size: small;
    color: rgb(138, 114, 81);
    font-stretch: ultra-expanded;
    letter-spacing: 0.1em;
}

.slideshow-container .header {
    display: inline-block;
}

.bio {
    margin: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    margin-top: 300px;
}

.bio button {
    margin-left: 50px;
    margin-top: 20px;
}

.viewCollections {
    padding: 10px 20px; 
    font-size: 8px; 
    background-color: rgb(250, 250, 250);
    font-family: Arial Narrow, sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #2A5849; 
    border-width: 2px;
    border-color: #2A5849;
    
    
    
    cursor: pointer; 
  }
  
  .viewCollections:hover {
    background-color: #2A5849; 
    color: aliceblue;
  }

  .iconContainer {
    margin: center;
    width: 1px;
    height:1px;
    padding-top: 90vh;
    padding-right: 50vh;
    display: fixed;
    justify-content: space-around;
    
 
   
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;
    
    
}

.icon {
    cursor: pointer;
    transition: opacity 0.3s;
}

.icon:hover {
    opacity: 1;
}

.icons:hover .icon:not(:hover) {
    opacity: 0.5;
}

.icons img {
    display:inline-block;
    width: 14px;
    margin: 0 5px;
    
}

#fb {
    width: 18px;
}

